In [4]:
import recordlinkage
import pandas as pd

In [38]:
df_a = pd.read_csv("two_party_100k_a.csv")
df_b = pd.read_csv("two_party_100k_b.csv")

In [39]:
df_a.head()

,id,firstname,lastname,birthyear,address,city,zipcode
0,12020722,david,kirkman,1953,1355 gallup rd,chapel hill,27517
1,600205438,taylor,brown,1994,5341 pittstown rd,hickory,28602
2,30622736,vanessa,garris,1968,po box 1359,enka,28728
3,200130253,mandi,jones,1977,552 westminster cir,greenville,27858
4,150488552,jordan,smith,1990,1845 legacy park ln # 303,winston salem,27103

In [40]:
block_class = recordlinkage.BlockIndex('lastname')
candidate_links = block_class.index(df_a, df_b)

In [41]:
c = recordlinkage.Compare()

c.string('firstname', 'firstname', method='jarowinkler', threshold=0.85)
c.string('lastname', 'lastname', method='jarowinkler', threshold=0.85)
c.string('address', 'address', method='damerau_levenshtein', threshold=0.7)
c.string('city', 'city', method='damerau_levenshtein', threshold=0.7)

# The comparison vectors
feature_vectors = c.compute(candidate_links, df_a, df_b)

In [42]:
matches = feature_vectors[feature_vectors.sum(axis=1) > 3]
print(len(matches))

17902

In [43]:
tm = 0
fm = 0

for r, _ in matches.iterrows():
    if (df_a.loc[r[0]] == df_b.loc[r[1]])[0]:
        tm = tm + 1
    else:
        fm = fm + 1

In [44]:
print(tm)
print(fm)

17860
42